@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';
    background-color: #95a5a6;
}
a {
    text-decoration: none;
}
div#header{
    width: 100%;
    height: 50px;
    /* background-color: #2c3e50; */
    background-color: #fc3;
    box-shadow: 0 2px 0 0 #deaa1b,inset 0 -2px 0 0 #ffd451;
    margin: 0 auto;
}
.logo {
    float: left;
    margin-top: 10px; 
    margin-left: 10px;
}

.logo a{
    font-size: 1.3em;
    color: #fff;
}
.logo span{
    font-weight: 300px;
}
div#container{
    width: 100%;
    margin: 0 auto;
}
.sidebar{
    width: 250px;
    height: 100%;
    background-color: #3b3b3b;
    float: left;
}
.content{
    width: auto;
    margin-left: 250px;
    height: 100%;
    background-color: #95a5a6;
    padding: 15px;
}
.content p{
    color: #424242;
    font-size: 0.73em;
}

ul#nav{

}
ul#nav li{
    list-style: none;
}
ul#nav li a{
    color: #ccc;
    display: block;
    padding: 45px;
    font-size: 1.8em;
    border-bottom: 1px solid #0a0a0a;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

ul#nav li a:hover{
    background-color: #030303;
    color: #fff;
    padding-left: 30px;
}
ul#nav li a.selected{
    background-color: #030303;
    color: #fff;
}
div#box{
    margin-top: 15px;
}
div#box .box-top{
    color: #fff;
    text-shadow: 0px 1px #000;
    background-color: #2980b9;
    padding: 5px;
    font-weight: 300px;
    padding-left: 40px;
}
div#box .box-panel{
    padding: 15px;
    background-color: #fff;
    color: #333;
}
/* .button{
 
} */

.button a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    position: absolute;
    text-align: center;
    line-height: 100px;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 90px;
    background: #2980b9;
    top: 17%;
    left: 90%;
    transition: color .2s ease-out 0s;
    border-radius: 10px;
    display: block;
}
.button a:hover{
    color: #fc3;
    box-shadow: 0 2px 0 0 #deaa1b,inset 0 -2px 0 0 #ffd451;
}
.content-meeting{
    margin-top: 10%;
    /* width: 80%; */
    margin-left: 1%;
}
table, th, td{
    border: 1px solid yellow;
    border-collapse: collapse;
    opacity: 0.95;
}
table{
    align: center;
}
.table{
    font-family: sans-serif;
    font-size: 11pt;
    width: 80%;
    margin-left:10%
}
th, td{
    padding: 10px;
    text-align: center;
}
th{
    background-color: black;
    color: #fff;
}
tr:nth-child(even){
    background-color: beige;
}

.contente-room{
    margin-top: 10%;
    /* width: 80%; */
    margin-left: 2%;

}
.modal-add{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition: all 500ms ease;
}

.modal-add:target{
    opacity: 1;
    pointer-events: auto;

}
.modal{
    width: 350px;
    height: 540px;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px;
    right: 0px; left: 500px;
    background: black;
    border: 2px solid #222;
    padding: 20px;
    box-shadow: 0px 0px 50px black;
    margin-bottom: 10%;
}
.modal-heading{
    box-sizing: border-box;
    width: 100%;
    display: block;
    height: 60px;
    margin-bottom: 30px;
    color: yellow;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18pt;
    font-family: big john;
    border-bottom: 2px solid #fefefe;
}
input{
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    height: 50px;
    border: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11pt;
    text-align: center;
}
input[type="button"], 
input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

input[type="button"]:hover, 
input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}
.close{
    color: white;
    position: absolute;
    border: 2px solid #333;
    padding: 7px 9px 11px 9px;
    font-family: big john;
    background: black;
    text-decoration: none;
    top:-20px;
    right: -20px;
    border-radius: 50%;
    transition: background 500ms;
}
.close:hover{
    background: #444;
    cursor: pointer;

}



/* 
.form-style-9{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
    border: 6px solid #305A72;
}

.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
} */
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

